# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
#.env

# OS / editor
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage / cache
coverage/
.cache/

# Optional build artifacts
dist/
build/
